services:
  redis:
    container_name: redis
    image: redis:latest
    restart: unless-stopped
    ports:
      - 6379:6379
    networks:
      auto_bangumi:
        ipv4_address: 10.1.0.20

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - TRANSMISSION_WEB_HOME=/ui/
      - USER=username
      - TZ=Asia/Shanghai
      - PASS=password
    volumes:
      - ${DOWNLOAD_PATH}:/downloads
      - ${DOWNLOAD_CONFIG}:/config
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    networks:
      auto_bangumi:
        ipv4_address: 10.1.0.21

  bangumi:
    container_name: bangumi
    image: rankki/bangumi:latest
    restart: unless-stopped
    environment:
      - BANGUMI_CHECK_INTERVAL=600
      - BANGUMI_CLIENT_TYPE=transmission
      - BANGUMI_CLIENT_IP=10.1.0.21
      - BANGUMI_CLIENT_PORT=9091
      - BANGUMI_CLIENT_USERNAME=username
      - BANGUMI_CLIENT_PASSWORD=password
      - BANGUMI_REDIS_HOST=10.1.0.20
      - BANGUMI_REDIS_PORT=6379
      - BANGUMI_REDIS_PASSWORD=
      - TZ=Asia/Shanghai
    ports:
      - 8000:8000
    networks:
      auto_bangumi:
        ipv4_address: 10.1.0.22
    depends_on:
      - redis
      - aria2
    volumes:
      - ${DOWNLOAD_PATH}:/downloads
      - ${BANGUMI_CONFIG}:/config
      - ${MEDIA_PATH}:/media

networks:
  auto_bangumi:
    driver: bridge
    ipam:
     config:
       - subnet: 10.1.0.0/24