name: Build & Publish Docker Image

on:
  push:
    tags:
      - 'v*.*.*'


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout Git repository
        uses: actions/checkout@v2

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: rankki/bangumi:latest
          context: .
          platforms: linux/amd64,linux/arm64, linux/arm/v7
          cache-from: type=registry,ref=rankki/bangumi:cache
          cache-to: type=registry,ref=rankki/bangumi:cache,mode=max